<p-confirmPopup></p-confirmPopup>
<section>
  <div *ngIf="userActivity.length > 0" class="card hidden lg:block">
    <p-table
      [value]="userActivity"
      [scrollable]="true"
      scrollHeight="450px"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th pSortableColumn="mark" class="hidden xl:block">
            Mark <p-sortIcon field="mark"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt" class="hidden xl:block">
            Added On<p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th>Cretificate</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-activity>
        <tr>
          <td>
            {{ activity?.event_name | titlecase }}
            {{ activity?.club_name | titlecase }}
            {{ activity?.course_name | titlecase }}
          </td>
          <td>
            {{ activity?.mark }}
          </td>
          <td>
            {{ activity?.createdAt | date: "dd-MM-yyyy hh:mm a" }}
          </td>
          <td>
            <img [src]="activity?.image" [width]="40" alt="Cretificate" />
          </td>
          <td>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-eye"
              class="p-button-rounded p-button-info p-button-outlined mr-3"
              pTooltip="View Activity"
              tooltipPosition="top"
              (click)="viewActivity(activity.id)"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-button-outlined mr-3"
              pTooltip="Edit Activity"
              tooltipPosition="top"
              [routerLink]="activity.type"
              [queryParams]="{
                edit: true,
                activityId: activity.id
              }"
              *ngIf="activity.is_locked === false"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-outlined mr-3"
              pTooltip="Delete Activity"
              tooltipPosition="top"
              *ngIf="activity.is_locked === false"
              (click)="deleteActivity($event,activity.id)"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-lock"
              tooltipPosition="top"
              class="p-button-rounded p-button-help p-button-outlined mr-3"
              pTooltip="Activity is Locked by your Mentor"
              *ngIf="activity.is_locked === true"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="mt-5">
    <h1 class="block lg:hidden mt-5 text-center font-semibold">
      Use Larger Screen to View Your Activities!
    </h1>
  </div>
</section>
